:root {
	--primary-text-color: #434455;
	--title-text-color: #2e2f42;
	--primary-link-color: #4d5ae5;
	--hover-link-color: #404bbf;
	--title-hero-color: #ffffff;
	--button-hover-color: #4d5ae5;
	--hero-button-background-color: #4d5ae5;
	--hero-button-hover-bg-color: #404bbf;
	--category-button-bg-c: #f4f4fd;
	--category-button-border-c: #e7e9fc;
}

body {
	color: var(--primary-text-color);
	font-family: "Roboto", sans-serif;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

textarea {
	resize: none;
}
@media screen and (min-width: 1200px) {
	.mobile-menu-open {
		display: none;
	}

	.container {
		max-width: 1158px;
	}

	/* Logo */
	.logo-web {
		line-height: 24px;
	}

	/* Navigation */

	.main-nav {
		justify-content: normal;
	}

	.site-nav {
		margin-left: 76px;
		gap: 0;
	}

	.site-nav .item:not(:last-child) {
		margin-right: 40px;
	}

	.site-nav .link {
		padding-bottom: 24px;
	}

	/* Contacts */
	.address {
		display: block;
		margin-left: auto;
	}
	.contacts-nav {
		display: flex;
		flex-direction: row;
		gap: 0;
		margin-top: 0;
		margin-bottom: 0;
	}
	.contacts-nav .item + .item {
		margin-left: 40px;
	}

	.email,
	.phone-number {
		color: var(--title-text-color);

		font-style: normal;
		font-size: 16px;
		line-height: 24px;

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.email:hover,
	.phone-number:hover,
	.email:focus,
	.phone-number:focus {
		color: var(--hover-link-color);
	}

	/* Hero */

	.hero {
		height: 600px;

		max-width: 1440px;

		padding-top: 188px;
		padding-bottom: 188px;

		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
	}

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.hero {
			height: 600px;

			max-width: 1440px;

			padding-top: 188px;
			padding-bottom: 188px;
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/people-office-2x.jpg);
		}
	}

	.hero-title {
		max-width: 496px;

		font-size: 56px;
		line-height: 60px;

		margin-bottom: 48px;
	}

	/* Modal */
	.modal {
		max-height: 584px;
	}

	/* Advantages */
	.section.advantages {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.advantages-list {
		flex-direction: row;
		column-gap: 24px;
		flex-wrap: nowrap;

		margin-right: auto;
		margin-left: auto;

		max-width: 1128px;
	}

	.advantages-item {
		width: 264px;
	}

	.advantages-icon-bg {
		padding: 24px 100px;
		background-color: var(--category-button-bg-c);
		display: block;
		content: "";
		height: 112px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.advantages-list .title {
		color: var(--title-text-color);
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 8px;
		margin-top: 8px;
	}
	.advantages-list .text {
		font-weight: 400;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.02em;

		width: 264px;
	}
	/* What are we doing */

	.main-photos {
		display: flex;
		gap: 24px;
		justify-content: center;
	}
	.section.photos {
		display: block;
		padding-top: 0;
		padding-bottom: 120px;

		align-items: center;
	}

	.section.photos .section-title {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		line-height: 40px;
		text-align: center;

		margin-bottom: 72px;
	}

	/* Team */
	.container.team {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.team-list {
		max-width: 1128px;
		width: 100%;
		flex-wrap: nowrap;
	}
	/* Customers */
	.customers-list {
		flex-wrap: nowrap;
		width: 1128px;
	}
	.section.customers {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.customers-bg {
		padding: 16px 32px;
	}

	/* Footer */
	footer {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.container.footer {
		flex-wrap: nowrap;
		/* justify-content: space-between; */
		max-width: 1128px;
	}

	.logo-footer {
		align-items: normal;
		margin-right: 120px;
	}

	.logo-footer .text {
		width: 264px;
	}

	.logo-footer .logo-studio {
		color: var(--category-button-bg-c);
	}

	/* Social media */

	.social-footer {
		align-items: normal;
		margin-right: 80px;
	}

	.social-footer > h2 {
		display: inline-block;
		color: var(--title-hero-color);
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
	}

	.icons-footer {
		margin-top: 16px;
		display: flex;
		gap: 16px;
	}

	.icons-footer .link {
		background-color: rgba(255, 255, 255, 0.1);

		display: inline-block;

		padding: 8px;
		width: 40px;
		height: 40px;
		border-radius: 50%;

		color: var(--category-button-bg-c);

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.icons-footer .link:hover {
		background-color: #31d0aa;
	}
	/* Subscribe */
	.subscribe-footer {
		align-items: normal;
		margin-top: 0;

		width: 453px;

		margin-left: 0;
		margin-right: 0;
	}
	.form-footer {
		display: flex;
	}

	.form-footer > input[type="email"] {
		background-color: var(--title-text-color);
		color: var(--title-hero-color);
		outline: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	}

	.subscribe-footer > h2 {
		display: inline-block;

		color: var(--title-hero-color);

		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;

		margin-bottom: 16px;
	}

	.subscribe-footer .input {
		display: flex;

		margin-right: 24px;
		padding: 8px 16px;
		width: 264px;
		height: 40px;

		border: 1px solid rgba(255, 255, 255, 0.3);

		border-radius: 4px;
		margin-bottom: 0;
	}

	.subscribe-footer .input:placeholder-shown {
		background-color: var(--title-text-color);
	}

	.subscribe-footer .input:placeholder {
		letter-spacing: 0.04em;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 24px;

		color: rgba(255, 255, 255, 0.6);
	}

	.submit {
		padding-right: 64px;
		width: 165px;
		height: 40px;

		position: relative;

		background-color: var(--button-hover-color);
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
		border: none;
		border-radius: 4px;

		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.04em;

		color: #ffffff;
	}

	.submit:hover {
		background-color: var(--hover-link-color);
	}

	.icon-submit {
		position: absolute;

		top: 50%;
		right: 24px;

		transform: translateY(-50%);

		fill: #fff;
	}

	/* Portfolio.html */

	.section-portfolio {
		padding-top: 96px;
		padding-bottom: 120px;
	}

	.category-button {
		display: flex;
		justify-content: center;
		margin-bottom: 72px;
		column-gap: 24px;
	}
	.category-button .item {
		color: var(--primary-link-color);
		background-color: var(--category-button-bg-c);
		border: 1px solid var(--category-button-border-c);
		border-radius: 4px;
		cursor: pointer;
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		padding: 12px 24px;

		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
			box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.category-button .item:hover,
	.category-button .item:focus {
		color: var(--title-hero-color);
		background-color: var(--hero-button-background-color);
		border: 1px solid var(--primary-link-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
	.format-text {
		padding-left: 16px;
		padding-top: 32px;
		padding-bottom: 32px;
		background: #ffffff;
		border-right: 1px solid #e7e9fc;
		border-bottom: 1px solid #e7e9fc;
		border-left: 1px solid #e7e9fc;
	}

	.portfolio-cards .text {
		color: var(--primary-text-color);
	}

	.portfolio-cards {
		display: flex;
		flex-wrap: wrap;
		row-gap: 48px;
		column-gap: 24px;

		width: 1128px;
	}
	.portfolio-cards .item {
		max-width: 360px;
		background: #ffffff;
		border: 0 1px 1px 1px solid #e7e9fc;

		transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.portfolio-cards .item:hover {
		border: 0, 5px solid var(--category-button-bg-c);
		box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
			0px 2px 1px rgba(46, 47, 66, 0.08);
	}
	.product-thumb {
		position: relative;
		overflow: hidden;
	}

	.product-text {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 100%;

		padding-top: 40px;
		padding-right: 32px;
		padding-left: 32px;

		letter-spacing: 0.02em;
		color: var(--category-button-bg-c);
		background-color: var(--hero-button-background-color);

		transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	.portfolio-cards .item:hover .product-text {
		top: 0;
	}
}
